# Variables

###### Containers to store information

Types of Information to store in a variable :

1. Int- 1,2,3,4,5,6,7,8,9
2. String - salt, I am going to school, Hello World,

Steps to Create a Variable:
1. Give it a meaningful name
2. equal sign
3. the value( Int, String)

In [ ]:
age = 25

In [ ]:
age

25

In [ ]:
lastName = "Dovlo"

In [ ]:
lastName

'Dovlo'

In [ ]:
Data TYpes:

1. Strings
2. Integers / Floats
3. Lists
4. Boolean
5. dictionary

In [ ]:
1. String =>  x = "Hello World"
2. Integers => x = 20 / Float => x = 20.5
3. Lists => x = ["Demid", "Andrew","Abel"]
4. x = True or False
5. x = {"name" : "Abel", "age": 20}

In [ ]:
Operators
1. addition => +
2. Substraction => -
3. Multiplication => *
4. division => /
5. modulos => % ( calculates the remainder of a division operation) eg. 5%2 = 1
6. Floor division => // (when the division is rounded to the nearest floor whole number) eg 5//2 = 2
7. Exponentiation => ** eg . 2**2

In [ ]:
156/2

78.0

In [ ]:
a = 100  # first sum given by Petya
b = 56   # second remainder given by Petya

c = ((a + b) // 2)  # calculating the first integer Petya had in mind

Sum = x + y = 100 =a
Diff = x -y =56 =b

Sum + diff = (x+y) +(x-y)
100+56 = 2x
156= 2x
x= 156/2
x= 78

x+y =100
78+y=100
y =100-78
y= 22

In [ ]:
a = 100
b=56

c =((a+b)//2)
d=  a -c
print(c)
print(d)

78
22

In [ ]:
#Task 2
# Input two natural numbers A and B

A = int(input()) #lets you generate your own value
B = int(input())

#swap using tuple unpacking

A, B = B, A

# Print the values in one line
print(A, B)

1
4
4 1

In [ ]:
# Task 3
# Input three integers  A, B and C

A = int(input())
B = int(input())
C = int(input())

#swap using tuple unpacking
A,B, C = B,C,A

#Print the values
print(A,B,C)

4
3
2
3 2 4

In [ ]:
#Task 4
# Input three integers A, B, C
A = int(input())  # Enter first number
B = int(input())  # Enter second number
C = int(input())  # Enter third number

# Assign each variable the sum of the other two
A_new = B + C
B_New = A + C
C_New = A + B

#print

print(A_new, B_New,C_New)

1
2
3
5 4 3

In [ ]:
#Task 5
#Assign the original places
place_1 = 'Jack'
place_2 = 'Bill'
place_3 = 'Max'

#using tuple unpacking
place_1 ,place_2 ,place_3 = 'Bill','Max','Jack'

print(place_1,place_2,place_3)

Bill Max Jack

In [ ]:
#If else statement
#a logical way of doing things
#if it is raining , i take an umbrella else i dont take an umbrella

if ("condition"):
  "do this"
else:
  "do that"

if ("It is raining"):
  "take an umbrella"
else:
  "dont take an umbrella"

In [ ]:
a = 200
b = 300

if a > b:
  print("Yes a is greater")
else:
  print("NO b is greater")


if ("lillian is fair"):
  "Type Yes"
else:
  "Type No"

NO b is greater

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

In [ ]:
# Elif
a = 33
b = 32
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else :
  print("a is less than b")

a is less than b

In [ ]:
# = assignment operator
# == comparism operator

In [ ]:
if ("It is raining"):
  "take an umbrella"
elif ("it is snowing"):
  "wear a winter jacket"
elif ("it is sunny"):
  "wear a light clothes"
else:
  "dont wear anything at all"

In [ ]:
#Python Loops
#Python has two primitive loop commands:

#while loops
#for loops

In [ ]:
Salt = 5
Sugar = 4

Temporary_container = Sugar

Sugar = Salt
Salt = Temporary_container

print(Sugar,Salt)

In [ ]:
#Task 2
# Enter two natural numbers A and B, each in its own row.
# Exchange values without using an auxiliary variable.
# Print the values of the variables in one line.
A = int(input())
B = int(input())

#Tuple unpacking to swap values

A, B = B ,A

#print swap values
print(A,B)

7
5
5 7

In [ ]:
#Task 3
#Enter three integers A,B,and C.
# Exchange values without an auxiliary variable and print them.
A = int(input())
B = int(input())
C = int(input())

A ,B , C = B , C, A

print(A, B,C)

1
2
3
2 3 1

In [ ]:
#Task 4 - First approach

#Task: Enter three integers A,ùêµ,ùê∂.
# Assign each variable the value of the sum of the other two.
# Print the variables.

A = int(input())
B = int(input())
C = int(input())

A_New = B+C
B_New = A+C
C_New = B+A

A, B, C = B+C ,A+C ,B+A


print(A_New,B_New,C_New)

1
2
3
5 4 3

In [ ]:
#Task 4 - Second approach

#Task: Enter three integers A,ùêµ,ùê∂.
# Assign each variable the value of the sum of the other two.
# Print the variables.

A = int(input())
B = int(input())
C = int(input())


A, B, C = B+C ,A+C ,B+A


print(A,B,C)

In [ ]:
#Task 5
# There are three participants in a contest: Jack, Bill, and Max.
# The correct order should be: Bill, Max, Jack.

place_1 = 'Jack'
place_2 = 'Bill'
place_3 = 'Max'

# Swap places
place_1, place_2, place_3 = place_2, place_3, place_1

# Print the new order
print(place_1, place_2, place_3)

Bill Max Jack

In [ ]:
#TAsk 6
#Task 6
#Prompt the user for an integer.
#Create an expression checking whether the user's input is
#larger than 0 and smaller than 100.
#Output should return "True" or "False"

A = int(input())

result = 0 < A < 100

print(result)

-10
False

In [ ]:
#Task 7
#Prompt the user for three integers.
# If two of them are equal or all are equal, print "True".5
# Otherwise, print "False".

A = int(input())
B = int(input())
C = int(input())

if A == B or B == C or A == C:
  print("True")
else:
  print("False")

5
5
5
True